<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<substitutionProperty name="log.proj" value="${project.artifactId}" />
	<substitutionProperty name="log.base" value="d:/logs/${log.proj}" />
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/${log.proj}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/${log.proj}.%d{yyyy-MM-dd}.log.zip
			</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="com.sfpay">
		<level value="debug" />
	</logger>
	<root>
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>  